@model Hotel_Rsesrvations.Models.ReservationClient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детайли за връзка резервация-клиент</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Номер на резервация
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd>
        <dt class = "col-sm-2">
            клиент
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.firstName) @Html.DisplayFor(model => model.Client.lastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a> |
    <a asp-action="Index">Назад към списък с резервация-клиент връзки</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Изтрий</a>
</div>
