@model Hotel_Rsesrvations.Models.Reservation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изтриване на резервация</h1>

<h3>Сигурни ли сте, че искате да изтриете тази резервация?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Стая
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.roomType)
        </dd class>
        <dt class = "col-sm-2">
            Настаняване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkInDate)
        </dd>
        <dt class = "col-sm-2">
            Освобождаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vacatingDate)
        </dd>
        <dt class = "col-sm-2">
            Закуска
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.includingBreakfast)
        </dd>
        <dt class = "col-sm-2">
            All inclusive
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAllInclusive)
        </dd>
        <dt class = "col-sm-2">
            Сума
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalPrice) лв.
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Назад към резервации</a>
    </form>
</div>
