@model Hotel_Rsesrvations.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.roomType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isOccupied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isOccupied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.priceForAdult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.priceForAdult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.priceForChild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.priceForChild)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>

        @if (Model.Reservations != null)
        {
            <dt class="col-sm-2">Резервирана в периодите:<br /></dt>
            <dd class="col-sm-10">
                @foreach (var Item in Model.Reservations)
                {

                    <a asp-controller="Reservations" asp-action="Details" asp-route-id="@Item.Id">

                        @Item.checkInDate - @Item.vacatingDate<br />
                    </a>

                }
            </dd>
                }
            </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
