@model IEnumerable<Hotel_Rsesrvations.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('#indexTable').DataTable();
        });</script>
}

<h1>Стаи</h1>

<p>
    <a asp-action="Create">Създаване на нова стая</a>
</p>
<div class="table-responsive">
    <table id="indexTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    Вместимост
                </th>
                <th>
                    Тип стая
                </th>
                <th>
                    Заета ли е
                </th>
                <th>
                    Цена нощувка възрастен
                </th>
                <th>
                    Цена нощувка дете
                </th>
                <th>
                   Номер
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roomType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isOccupied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priceForAdult) лв.
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priceForChild) лв.
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.number)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактирай</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Детайли</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>