@model IEnumerable<Hotel_Rsesrvations.Models.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('#indexTable').DataTable();
        });</script>
}
<h1>Клиенти</h1>

<p>
    <a asp-action="Create">Създаване на нов клиент</a>
</p>
<div class="table-responsive">
    <table id="indexTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Телефонен номер
                </th>
                <th>
                    Пълнолетен ли е клиентът
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isAdult)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>